doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    <form method="POST" action="/new">
        h1 
        label(for="messageUser") Author Name 
        input(type="text" name="messageUser")
        label(for="messageText") Message Text
        input(type="text" name="messageText")
        button Click Me
    </form>